<md-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item>Settings</button>
  <button md-menu-item>Help</button>
</md-menu>

<md-card class="example-card" *ngFor="let data of (latestItems ? latestItems.slice(0,10):[]); let i = index">
  <img md-card-image src="{{ data.url }}">
  <md-card-header>
    <md-card-title>{{ data.title }}</md-card-title>
  </md-card-header>
  <md-card-actions>
    <button md-button>Like</button>
    <button md-button>Share</button>
  </md-card-actions>
</md-card>